
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #070410;
    background-color: #070410;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
}


header {
    width: 100%;
    padding: 16px;
    background-color: #eef36a;
    color: #070410;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
header nav a {
    margin: 0 16px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    gap: 30px
}
header .search {
    padding: 5px;
    background-color: #231651;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


main {
    max-width: 900px;
    padding: 48px;
}


.featured {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background-color: #ffffff;
    margin-top: 50px;
    
}
.featured img {
    width: 300px;
    margin-right: 16px;
}
.featured .movie-details {
    max-width: 500px;
}
.featured h2 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    margin-bottom: 16px;
}
.featured p {
    font-size: 20px;
    margin-bottom: 16px;
}
.featured button {
    font-family: 'Teko', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #231651;
    color: #fff;
    border: none;
    cursor: pointer;
    padding-left: 200px;
    padding-right: 200px;
    margin-right: 20px;
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}
.movie-list article {
    background-color: #4dccbd;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.movie-list img {
    width: 50%;
    margin-left: 200px;
}
.movie-list h3 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    margin: 16px 0;
}
.movie-list p {
    font-size: 20px;
    margin-bottom: 16px;
}
.movie-list button {
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #231651;
    color: #fff;
    border: none;
    cursor: pointer;
}




.movie-list2 {
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 50px;
    display: flex

}

.movie-list2 article {
    background-color: #ffffff;
    padding: 16px;
    width: calc(50% - 16px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
}
.movie-list2 img {
    width: 100%;
}
.movie-list2 h3 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    margin: 16px 0;
}
.movie-list2 p {
    font-size: 20px;
    margin-bottom: 16px;
    
}
.movie-list2 button {
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #231651;
    color: #fff;
    border: none;
    cursor: pointer;
    padding-left: 100px;
    padding-right: 100px;
    
}





@media (max-width: 1024px) {
    header h1 {
        font-size: 30px;
    }
    header nav a {
        font-size: 10px;
    
    }
    main {
        padding: 32px;
    }
    .movie-list article {
        width: 100%;
    }
    .movie-list2 article {
        background-color: #ffffff;
        padding: 16px;
        width: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flow-root;
        margin-top: 50px;
    }
    .movie-list img {
        margin-left: 3px;
        width: 100%;
    }
    .movie-list button {
        padding-left: 90px;
        padding-right: 90px;
    }

    .movie-list2 button {
        padding-left: 90px;
        padding-right: 90px;
    }

    .featured button {
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 10px;
        margin-left: 40px;
    }
}




@media (max-width: 720px) {
    .featured {
        flex-direction: column;
        
    }
    .featured img {
        width: 100%;
        margin-left: auto;
    }

    
}

@media (min-width: 768px) {
    .movie-list2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .movie-list {
        display: none;
    }
}